body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f7fb;
  color: #333;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}


.top-bar {
  background: #0a5bdb;
  color: #fff;
  padding: 20px 0;
}

.top-bar h1 {
  margin: 0;
  font-size: 24px;
}

.top-bar p {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.9;
}


.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: flex-end; /* <- empurra para a direita */
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.tab {
  background: none;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
  transition: all 0.2s ease;
}

.tab.active {
  border-bottom: 2px solid #0a5bdb;
  font-weight: 600;
  color: #0a5bdb;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-weight: 400; /* <- mais fino */
  font-size: 13px;
  margin-bottom: 4px;
  color: #777; /* <- cor cinza */
}

.input-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 10px 36px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

input::placeholder {
  color: #aaa;
  font-size: 13px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #555;
}


.actions {
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  background: #0a5bdb;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #0847ab;
}